<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/layouts/own-hotfixes.css">
</head>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="..">Go Back</a>


    </div>
</div>

<body>
<div class="formContainer">
    <div class="middleAlignContainer">

<form class="pure-form pure-form-aligned" method="post">
    {% csrf_token %}
    <fieldset>
        {% for field in form.visible_fields %}
        <div class="pure-control-group">
            <label>{{ field.label_tag }}</label>
            {{field}}
            <span class="pure-form-message-inline">{{ field.errors }}</span>
            <span class="pure-form-message-inline">{{ field.help_text }}</span>
        </div>
        {% endfor %}
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
    </div>

</div>
</body>
</html>