Html, body{
    height:100%;
    background: #eeeeee;
}

.formContainer{
    display:table; height:100%; margin: 0 auto;
}

.middleAlignContainer{
    display:table-cell; vertical-align:middle;
}
.home-menu {
    padding: 0.5em;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


.user-view {
    width: 340px;
    height: 220px;
    margin: 40px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;


}

.user-name {
    padding: 10px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.photo{
    margin-left: 90px;
}

.description {
    padding-top: 20px;
    text-align: right;
    width: 120px;
}

.description span {
    display: block;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.description span:first-child {
    margin-bottom: 10px;
}
.description span:last-child {
    font-weight: 300;
    margin-top: 10px;
    color: #86939E;
}
